
<nav>
    <div class="title"> <a href="#"><span>F</span>low<span>r</span></a></div>
        <div class="onglets">
            <a href="{{ path('home') }}">Acceuil</a>
            <a href="{{ path('login') }}">Mes Groupes</a>
            <a href="{{ path('login') }}">Blog</a>
            <a href="{{ path('login') }}">LogIn</a>
        </div>
</nav>

