
<nav>
    <div class="title"> <a href="#"><span>F</span>low<span>r</span></a></div>
        <div class="onglets">
            <a href="#">Acceuil</a>
            <a href="#">Téléchargements</a>
            <a href="#">Blog</a>
        </div>
</nav>

