{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="bo">

        <div id="content">
           <h1 class="titre">Se connecter</h1>
            <div class="champ">

            </div>



        </div>
    </div>
{% endblock %}
