{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="bo">

<div class="button text" id="slt">
    <h1>CACA</h1>
</div>

        <div class="button text" id="slt">
            <h1>BOnjour les gens</h1>
    </div>
{% endblock %}
