<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mon site Symfony{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>En-tête commune</h1>
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    <p>Pied de page commun</p>
</footer>
</body>
</html>