<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Flowr{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>
<body>
    {% include 'partials/nav.html.twig' %}
<header>
    {% block header %}{% endblock %}
</header>
<main>
    {% block body %}{% endblock %}
</main>

<footer>
    <p>Footer</p>
</footer>
</body>
</html>