{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil</h1>
    <p>Ceci est ma première page Symfony avec Twig.</p>
{% endblock %}