<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1></h1>
</header>
<main>

    <div class="container">
        {% block body %}


        {% endblock %}
    </div>

</main>
<footer>
    <p>Pied de page commun</p>
</footer>
</body>
</html>